
header, footer
{
	background:pink;
	border:solid 1px purple;
	
}


#main{
	height:300px;
	
}


.results{
	
	margin: 5px 4px 5px 4px;
	padding : 10px;
	border:solid 3px black;
	border-radius:2px;
	display: inline-block;
    vertical-align: top;
}

.simple-form input[type=number]{
	width: 70px;
}

.simple-form{
	margin: 10px 0px 10px 0px;
	padding-top: 4px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
	border:solid 3px black;
	border-radius:3px;
	width:310px;
    display: inline-block;
    vertical-align: top;
	
}

.simple-form label{
	font-weight:bold;
}

.simple-form input[type=submit]{
	background:green;
	border:solid 2px black;
	border-radius:3px;
}

